h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-size: 3em;
	color: rebeccapurple;
}

p {
	font-family: 'Poppins', sans-serif;
}

header {
	margin-left: 25px;
}

table {
	font-family: 'Poppins', sans-serif;
	margin-left: 15px;
	border: 1px solid palevioletred;
}

th {
	border: 1px solid palevioletred;
	text-align: left;
	padding: 15px;
	font-weight: 900;
}

td {
	border: 1px solid palevioletred;
	padding: 15px;
	text-align: center;
}
