h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-size: 4em;
	color: midnightblue;
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-size: 2em;
	color: midnightblue;
}

p {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: midnightblue;

}

header {
	background-color: powderblue;
	padding-bottom: 40px;
	padding-top: 60px;
	border-bottom: 1px solid slateblue;
	text-align:  center;
	margin-left: 0px;
	margin-left: 0px;
}

.planet-image {
	border: 1px solid midnightblue;
	padding: 8px;
	margin: 12px;
	background-color: antiquewhite;
	border-radius: 30px;
}

.planet-title {
	font-size: 1.5em;
	color: midnightblue;
	text-align: center;
}

main {
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	background-color: antiquewhite;
}

table {
	font-family: 'Poppins', sans-serif;
	border: 1px solid dodgerblue;
	width: 80%;
}

th {
	text-align: left;
	padding: 15px;
	font-weight: 900;
	border: 1px solid dodgerblue;
}

td {
	padding: 15px;
	text-align: center;
	border: 1px solid dodgerblue;
}

footer {
	background-color: powderblue;
	padding-top: 60px;
	padding-bottom: 60px;
	border-top: 1px solid slateblue;
	text-align:  center;
	margin-left: 0px;
	margin-right: 0px;
}
