h1 {
	font-family: 'Poppins', sans-serif;
}

p {
	font-family: 'Poppins', sans-serif;
}

table {
	border: 1px solid #001933;
	font-family: 'Poppins', sans-serif;
}

th {
	border: 1px solid #001933;
	text-align: left;
	padding: 10px;
}

td {
	border: 1px solid #001933;
	padding: 10px;
}
