h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-size: 4em;
	color: midnightblue;
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-size: 2em;
	color: midnightblue;
}

.button {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size:  1.2em;
	border: 2px solid midnightblue;
	border-radius: 10px;
	background-color: antiquewhite;
	padding: 20px;
	margin-top:  25px;
	margin-bottom: 50px;
	text-decoration: none;
}

p {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: midnightblue;

}

header {
	background-color: powderblue;
	padding-bottom: 40px;
	padding-top: 60px;
	border-bottom: 10px solid midnightblue;
	text-align:  center;
	margin-left: 0px;
	margin-left: 0px;
}

.planet-image {
	border: 1px solid midnightblue;
	padding: 8px;
	margin: 12px;
	background-color: antiquewhite;
	border-radius: 30px;
}

.title {
	font-size: 1.5em;
	color: midnightblue;
	text-align: left;
}

.planets-title {
	font-size: 1.5em;
	color: darkcyan;
	text-align: center;
}

main {
	padding: 100px;
	margin-left: auto;
	margin-right: auto;
	background-color: antiquewhite;
}

caption {
	padding=bottom: 15px;
	text-align:  left;
}

table {
	font-family: 'Poppins', sans-serif;
	border-collapse: collapse;
}

th {
	text-align: left;
	padding: 15px;
	font-weight: 900;
	border: 1px solid dodgerblue;
}

td {
	padding: 15px;
	text-align: left;
	border: 1px solid dodgerblue;
}

.invisible-cell {
	border-top: none;
	border-left: none;
}

footer {
	background-color: powderblue;
	padding-top: 60px;
	padding-bottom: 60px;
	border-top: 10px solid midnightblue;
	text-align:  center;
	margin-left: 0px;
	margin-right: 0px;
}
