h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-size: 4em;
	color: rebeccapurple;
}

p {
	font-family: 'Poppins', sans-serif;
	color: rebeccapurple;
}

header {
	background-color: peachpuff;
	padding-bottom: 60px;
	padding-top: 100px;
	border-bottom: 1px solid slateblue;
	text-align:  center;
	margin-bottom: 50px;
}

#planet-image {
	border: 1px solid slateblue;
}

table {
	font-family: 'Poppins', sans-serif;
	align: center;
	border: 1px solid palevioletred;
}

th {
	border: 1px solid palevioletred;
	text-align: left;
	padding: 15px;
	font-weight: 900;
}

td {
	border: 1px solid palevioletred;
	padding: 15px;
	text-align: center;
}

footer {
	background-color: peachpuff;
	padding-top: 60px;
	padding-bottom: 60px;
	border-top: 1px solid slateblue;
	text-align:  center;
}
