body {
	margin: 0;
	padding: 0;
}
h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-size: 4em;
	color: midnightblue;
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	font-size: 2em;
	color: midnightblue;
	margin-bottom: 50px;
}

#jumplink {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 1.2em;
	border: 1px solid midnightblue;
	padding: 15px;
	width: 250px;
	background-color: antiquewhite;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

p {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: midnightblue;

}

header {
	background-color: powderblue;
	padding-bottom: 40px;
	padding-top: 60px;
	border-bottom: 10px solid midnightblue;
	text-align:  center;
	margin: auto;
	padding-bottom: 50px;
}

.planet-image {
	border: 1px solid midnightblue;
	padding: 8px;
	margin: 12px;
	background-color: antiquewhite;
	border-radius: 30px;
}

.box {
	display: flex;
	flex-wrap: wrap;
}

.col {
	flex: 1;
}

.title {
	font-size: 1.5em;
	color: midnightblue;
	text-align: left;
}

.planets-title {
	font-size: 1.5em;
	color: darkcyan;
	text-align: center;
}

main {
	padding: 100px;
	margin-left: auto;
	margin-right: auto;
	background-color: antiquewhite;
}

.caption {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: midnightblue;
}

table {
	font-family: 'Poppins', sans-serif;
	border-collapse: collapse;
}

th {
	text-align: left;
	padding: 15px;
	font-weight: 900;
	border: 1px solid midnightblue;
}

td {
	padding: 15px;
	text-align: left;
	border: 1px solid midnightblue;
}

.invisible-cell {
	border-top: none;
	border-left: none;
}

.footer-image {
	vertical-align:  center;
}

.astro {
	border: 1px dashed; midnightblue;
	border-radius: 10px;
}

footer {
	background-color: powderblue;
	padding-top: 100px;
	padding-bottom: 100px;
	border-top: 10px solid midnightblue;
	text-align:  center;
}
