h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
}

p {
	font-family: 'Poppins', sans-serif;
}

table {
	border: 1px solid palevioletred;
	font-family: 'Poppins', sans-serif;
	margin-left: 25px;
}

th {
	border: 1px solid #001933;
	text-align: left;
	padding: 25px;
	font-weight: 400;
}

td {
	border: 1px solid #001933;
	padding: 25px;
}
